[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
psycopg2-binary = "*"
asgiref = "*"
pyjwt = "*"
python-dotenv = "*"
pytz = "*"
sqlparse = "*"
django-filter = "*"
weasyprint = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
